* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
	
.header {
		min-height: 100px;
		width: 100%;
}

body {		
		background-image:url('./images/test.jpg');
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{
	width: 150px;
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition:0.5s;
}

nav-links:hover::after{
	width:100%;
}

.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box{
	